:root {
  --color-bg1: rgb(0, 0, 0);
  --color-bg2: rgb(29, 0, 44);

  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;

  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveVertical {
  0% {
    transform: translateY(-40vh);
  }

  50% {
    transform: translateY(40vh);
  }

  100% {
    transform: translateY(-40vh);
  }
}

@keyframes moveInCircle {
  0% {
    transform: translate(-30vw, 0);
  }

  25% {
    transform: translate(0, -30vh);
  }

  50% {
    transform: translate(30vw, 0);
  }

  75% {
    transform: translate(0, 30vh);
  }

  100% {
    transform: translate(-30vw, 0);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  height: auto;
  min-height: 100%;
  font-family: "Poppins";
  overscroll-behavior: none;
  position: relative;
}

.page {
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;

  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  pointer-events: none;
}


.gradients-container {
  width: 100vw;
  height: 100vh;
  filter: blur(40px);
}

.g1,
.g2,
.g3,
.g4,
.g5,
.interactive {
  position: absolute;
  mix-blend-mode: var(--blending);
}

.g1 {
  width: var(--circle-size);
  height: var(--circle-size);
  top: 10%;
  left: 20%;
  background: radial-gradient(circle, rgba(var(--color1), 0.8), transparent 50%);
  animation: moveVertical 30s ease infinite;
}

.g2 {
  width: var(--circle-size);
  height: var(--circle-size);
  top: 30%;
  left: 50%;
  background: radial-gradient(circle, rgba(var(--color2), 0.8), transparent 50%);
  transform-origin: center center;
  animation: moveInCircle 20s linear infinite reverse;
}

.g3 {
  width: var(--circle-size);
  height: var(--circle-size);
  top: 60%;
  left: 10%;
  background: radial-gradient(circle, rgba(var(--color3), 0.8), transparent 50%);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  width: var(--circle-size);
  height: var(--circle-size);
  top: 40%;
  left: 40%;
  background: radial-gradient(circle, rgba(var(--color4), 0.8), transparent 50%);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.g5 {
  width: calc(var(--circle-size) * 1.5);
  height: calc(var(--circle-size) * 1.5);
  top: 20%;
  left: 60%;
  background: radial-gradient(circle, rgba(var(--color5), 0.8), transparent 50%);
  animation: moveInCircle 25s ease infinite;
}


.noise-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  pointer-events: none;


  opacity: 0.2;
  filter: contrast(120%) brightness(150%);

  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 249 249' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.04' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 250px 250px;

  mix-blend-mode: overlay;
}


.whole {
  position: relative;
  z-index: 1;
}


.article-nav a,
.record a {
  color: rgb(150, 150, 150);
  opacity: 0.6;
  transition: color 0.3s ease, opacity 0.3s ease, text-shadow 0.3s ease;
}

.article-nav a.active-scroll,
.record a.active-scroll {
  color: rgb(242, 242, 242);
  text-shadow: 0 0 8px #ffffff77, 0 0 15px #ffffff5a;
  opacity: 1;
}

.exp,
.name,
.proj-header,
.heading {
  opacity: 0.6;
  transition: opacity 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

.exp.active-scroll,
.name.active-scroll,
.proj-header.active-scroll,
.heading.active-scroll {
  color: rgb(242, 242, 242);
  text-shadow: 0 0 8px #ffffff77, 0 0 15px #ffffff5a;
  opacity: 1;
}