nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  background-color: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1000;

}

nav a {
  font-size: 15px;
}

.mask-blur {
  width: 100%;
  height: auto;
  min-height: 75px;
  position: fixed;
  bottom: 0;
  z-index: 4;
  backdrop-filter: blur(5px);
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.99) 30%,
      rgba(0, 0, 0, 0.5) 70%,
      rgba(0, 0, 0, 0) 100%);
}

/* 
.search-bar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-left: 20px;
}

.search {
  height: 27px;
  width: 300px;
  color: black;
  background-color: rgb(231, 231, 231);
  padding-left: 10px;
  border-radius: 7px;
  border: solid 0.5px rgba(203, 203, 203, 0.596);
  transition: background-color 0.15s;
}

.search:hover {
  background-color: rgb(239, 239, 239);
}

.search:focus {
  border: 1px solid;
}

.ai-icon {
  width: 37px;
  filter: drop-shadow(1px 1px 1px gray);
} */

.pages {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 50px;
}

.pages a {
  color: rgb(71, 71, 71);
  font-weight: bold;
  font-size: 14px;
  width: auto;
  border: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease;
}

.pages a:hover {
  color: rgb(145, 145, 145);
  transform: scale(1.02);
}

.blank-li {
  margin-right: auto;
}

nav ul {
  list-style: none;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
  z-index: 9;
}

#open-menu,
#close-menu {
  opacity: 0.5;
  transition: opacity 200ms ease;
}

#open-menu:hover,
#close-menu:hover {
  opacity: 1;
}