.project {
  height: auto;
  padding: 20px;
  width: auto;
  margin: 0 100px;
  border: 1px rgba(128, 128, 128, 0.192) solid;
  border-radius: 20px;
  display: flex;
  background-color: rgba(248, 248, 248, 0);
  backdrop-filter: blur(50px);
  flex-direction: column;
}

.proj-header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.proj {
  width: 300px;
  height: 500px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px rgba(128, 128, 128, 0.3) solid;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  transition: all 0.2s ease;
}


.proj-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.proj-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(40%);
  transition: transform 0.5s ease, filter 0.5s ease;
}

.proj:hover .proj-img img {
  transform: scale(1.05);
  filter: brightness(100%);
}


.proj-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgb(14, 14, 14);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.proj-p1 {
  text-align: justify;
  font-size: 15px;
  font-weight: 200;
  color: rgb(175, 175, 175);
  transition: all 0.2s ease;
}

.proj:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.344);
}

.proj-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 50px;
  justify-content: center;
}

.p1-proj {
  font-size: 18px;
  margin: 0;
  color: rgb(212, 212, 212);
  font-weight: bold;
}

.p2-proj {
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 0;
}

.status {
  display: flex;
  border: 1px rgba(255, 200, 0, 0.14) solid;
  align-items: center;
  font-size: 13px;
  height: 30px;
  color: #b36900;
  width: 110px;
  justify-content: center;
  border-radius: 100px;
  margin: 0;
  transition: all 0.5s ease;
}

.proj:hover .status {
  background-color: #fff7001d;
  box-shadow: 0 0 8px #fff7003a, 0 0 15px #fff70011;
}

.dot {
  margin: 0;
  display: flex;
  padding: 0;
  height: auto;
}

.in-status {
  display: flex;
  border: 1px rgba(98, 98, 98, 0.11) solid;
  background-color: rgba(57, 57, 57, 0.296);
  align-items: center;
  font-size: 13px;
  height: 30px;
  color: #6c6c6c;
  width: 90px;
  justify-content: center;
  border-radius: 100px;
  margin: 0;
  transition: all 0.5s ease;
}

.proj:hover .in-status {
  background-color: rgba(118, 118, 118, 0.285);
  box-shadow: 0 0 8px #ffffff1f, 0 0 15px #ffffff26;

}

.proj:hover .proj-p1 {
  color: white;
  text-shadow: 0 0 5px #ffffff83, 0 0 15px #ffffffa3;
}

.in-dot {
  margin: 0;
  display: flex;
  padding: 0;
  height: auto;
}
